@font-face {
  font-family: "Poltawski Nowy";
  src: url("/fonts/PoltawskiNowy-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900; /* range weight */
  font-style: normal;
  font-display: swap;
}
